
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import '~normalize.css';


body, html {
   width: 100%;
   height: 100%;
}

body {
   background: #E3F6F5;
   font-family: 'Poppins';
}

.voting {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.voting-item {
   width: 500px;

   &__img {
      border-radius: 10px;
      margin: 0;
      padding: 0;
      display: block;
   }
   

   &__btns {
      display: flex;
      margin-top: 5px;
   }

   &__btn-wrapper {
      width: 50%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      background: #2B2E4A;
      border-radius: 10px;
   }

   &__btn-wrapper + &__btn-wrapper {
      margin-left: 5px;
   }

   &__btn {
      cursor: pointer;
      background: transparent;
      border: none;
      margin-right: 10px;
   }

   &__btn-like.active svg {
      fill: #28a745;
   }

   &__btn-dislike.active svg {
      fill: #dc3545;
   }

   svg {
      fill: #fff;
      width: 32px;
      height: 32px;
   }

   &__count {
      width: 100px;
      font-size: 50px;
      color: #fff;
      margin: 0;
      text-align: center;
   }

   &__count:disabled {
      background: transparent;
   }
}


@media (max-width: 500px) {
   .voting-item__count {
      width: 80px;
      font-size: 40px;
   }
}